body{
	background: floralwhite;
}

.card{
	background: white;
    border: 0.0625em solid black;
    
    width: 37.5em;
    height: 43.75em;
   
}

.fontcard{
	font-size: 2em;
	text-align: center;
}

p{
	font-size: 0.5em;
}

footer{
   font-size: 11px;
   text-align: center;
}